<!-- <p>about works!</p> -->
<div>
    <h3>About</h3>
    <p>
        “Product Inventory Management System” is a Single Page Application (SPA)
         designed to enhance inventory management for businesses by simplifying the process
          of managing products and stock. This system enables businesses to efficiently add, 
          update, delete, list, and search for product records. Users can also categorize products, 
          update stock quantities, and view detailed product information such as descriptions, prices, and manufacturers.
    </p>
</div>
