<!-- <p>add-product works!</p> -->
<h2>Add Product</h2>
<form [formGroup]="productForm" (ngSubmit)="onSubmit()">

    <div>
        <label>Name:</label>&nbsp;
        <input type="text" name="name"   />
    </div>
    <div>
        <label>Description:</label>&nbsp;
        <input type="text" name="description"  />
    </div>
    <div>
        <label>Manufacturer:</label>&nbsp;
        <input type="text" name="manufacturer"  />
    </div>
    <div>
        <label>Category:</label>&nbsp;
        <input type="text" name="category"  />
    </div>
    <div>
        <label>Price:</label>&nbsp;
        <input type="number" name="price"  />
    </div>
    <div>
        <label>Quantity:</label>&nbsp;
        <input type="number" name="quantity"  />
    </div>
    <br>
    <!-- <button type="submit" [disabled]="productForm">Add Product</button> -->
    <button type="submit" (click)="onSubmit()" >Add Product</button>&nbsp;
    <button type="button" (click)="back()">Back</button>
    
</form>
