<!-- <p>product-update works!</p> -->
<h2>Update Product</h2>
<!-- <form [formGroup]="productForm" (ngSubmit)="updateProduct()"> -->
  <label>Name:</label>
  <input formControlName="name" type="text" />

  <label>Description:</label>
  <input formControlName="description" type="text" />

  <label>Manufacturer:</label>
  <input formControlName="manufacturer" type="text" />

  <label>Price:</label>
  <input formControlName="price" type="number" />

  <label>Quantity:</label>
  <input formControlName="quantity" type="number" />

  <button type="submit">Update</button>
<!-- </form> -->

